
# Port A

NET "addr_i<0>" LOC = "P193" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<1>" LOC = "P192" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<2>" LOC = "P190" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<3>" LOC = "P189" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<4>" LOC = "P187" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<5>" LOC = "P186" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<6>" LOC = "P185" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "addr_i<7>" LOC = "P181" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;

# Port B

#NET "addr_i<8>"  LOC = "P180" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<9>"  LOC = "P179" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<10>" LOC = "P178" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<11>" LOC = "P177" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<12>" LOC = "P172" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<13>" LOC = "P171" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<14>" LOC = "P168" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
#NET "addr_i<15>" LOC = "P167" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;

# Port C

NET "data_o<0>" LOC = "P152" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<1>" LOC = "P150" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<2>" LOC = "P146" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<3>" LOC = "P144" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<4>" LOC = "P139" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<5>" LOC = "P137" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<6>" LOC = "P134" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_o<7>" LOC = "P132" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;

