##################################################################################
## Cyber_Cortex_AV.ucf
##
## Details: http://www.fabuloussilicon.com
##
## Master UCF File for the Cyber Cortex AV Multicore Softprocessor Development Platform
##
##################################################################################

NET "CLK" LOC = "P183" | IOSTANDARD = LVCMOS33;
NET SRAM_DB* NODELAY;

#RED
NET VIDEO_R_EB                LOC = "P93" |IOSTANDARD = LVCMOS33 |DRIVE = 8| SLEW = FAST ;
NET VIDEO_R(0)                LOC = "P89" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 
NET VIDEO_R(1)                LOC = "P90" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ;
NET VIDEO_R(2)                LOC = "P84" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 

#GREEN
NET VIDEO_G_EB                LOC = "P82" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ;
NET VIDEO_G(0)                LOC = "P75" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 
NET VIDEO_G(1)                LOC = "P74" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 
NET VIDEO_G(2)                LOC = "P65" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 

#BLUE
NET VIDEO_B_EB                LOC = "P60"  |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ;
NET VIDEO_B(0)                LOC = "P56"  |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ;
NET VIDEO_B(1)                LOC = "P50"  |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 
NET VIDEO_B(2)                LOC = "P49"  |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ; 

#SYNC
NET HSYNC                     LOC = "P100" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ;
NET VSYNC                     LOC = "P102" |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = FAST ;

#AUDIO

NET AUDIO_L                   LOC = "P86"  |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8;   
NET AUDIO_R                   LOC = "P99"  |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8;

# PWM

NET "PWM0_Core1" LOC = "P203" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "PWM1A_Core1" LOC = "P202" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; #Reserved for later use
#NET "PWM1B_Core1" LOC = "P200" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; #Reserved for later use
NET "PWM2_Core1" LOC = "P199" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "PWM0_Core2" LOC = "P197" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "PWM2_Core2" LOC = "P196" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# Joystick 1

NET "Joystick1_Up"              LOC = "P20"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick1_Left"            LOC = "P204" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick1_Right"           LOC = "P194" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick1_Down"            LOC = "P32"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick1_Fire"            LOC = "P26"  | IOSTANDARD = LVCMOS33 | PULLUP ;

# Joystick 2

NET "Joystick2_Up"              LOC = "P6"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick2_Left"            LOC = "P169" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick2_Right"           LOC = "P159" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick2_Down"            LOC = "P43"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Joystick2_Fire"            LOC = "P14"  | IOSTANDARD = LVCMOS33 | PULLUP ;

# SPI Bus

NET "ext_spi_sck" LOC = "P103" |IOSTANDARD = LVCMOS33 |SLEW = SLOW |DRIVE = 4 ;
NET "ext_spi_mosi" LOC = "P61" |IOSTANDARD = LVCMOS33 |SLEW = SLOW |DRIVE = 4 ;
NET "ext_spi_miso" LOC = "P87" |IOSTANDARD = LVCMOS33;
NET "EXT_SPI_CS" LOC = "P55" |IOSTANDARD = LVCMOS33 |SLEW = SLOW |DRIVE = 4 ;
NET "EXT_SPI_CS2" LOC = "P83" |IOSTANDARD = LVCMOS33 |SLEW = SLOW |DRIVE = 4;

# USB Serial
NET "RXD"  LOC = "P175" |IOSTANDARD = LVCMOS33 ;
NET "TXD"  LOC = "P206" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = FAST ;

# Reset

NET "RESET" LOC = "P154" |IOSTANDARD = LVCMOS33 |PULLUP;

# Port A

NET "PortA<0>" LOC = "P193" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    
NET "PortA<1>" LOC = "P192" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortA<2>" LOC = "P190" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortA<3>" LOC = "P189" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortA<4>" LOC = "P187" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortA<5>" LOC = "P186" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortA<6>" LOC = "P185" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortA<7>" LOC = "P181" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;     
 
# Port B

NET "PortB<0>" LOC = "P180" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; 
NET "PortB<1>" LOC = "P179" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    
NET "PortB<2>" LOC = "P178" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortB<3>" LOC = "P177" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortB<4>" LOC = "P172" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortB<5>" LOC = "P171" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortB<6>" LOC = "P168" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortB<7>" LOC = "P167" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   

# Port C

NET "PortC<0>" LOC = "P152" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortC<1>" LOC = "P150" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortC<2>" LOC = "P146" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortC<3>" LOC = "P144" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortC<4>" LOC = "P139" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "PortC<5>" LOC = "P137" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "PortC<6>" LOC = "P134" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "PortC<7>" LOC = "P132" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;

# Port D

NET "PortD<0>" LOC = "P128" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Keyboard Clock
NET "PortD<1>" LOC = "P126" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Keyboard Data
NET "PortD<2>" LOC = "P122" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Mouse Clock
NET "PortD<3>" LOC = "P119" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Mouse Data
NET "PortD<4>" LOC = "P115" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortD<5>" LOC = "P112" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortD<6>" LOC = "P108" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortD<7>" LOC = "P106" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;

# Port E

NET "PortE<0>" LOC = "P153" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #LED1
NET "PortE<1>" LOC = "P151" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    #LED2
NET "PortE<2>" LOC = "P147" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    #LED3
NET "PortE<3>" LOC = "P145" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    #LED4
NET "PortE<4>" LOC = "P140" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "PortE<5>" LOC = "P138" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;     
NET "PortE<6>" LOC = "P135" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;     
NET "PortE<7>" LOC = "P133" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  

# Port F

NET "PortF<0>" LOC = "P129" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    #Button 1
NET "PortF<1>" LOC = "P127" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    #Button 2
NET "PortF<2>" LOC = "P123" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Button 3
NET "PortF<3>" LOC = "P120" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Button 4
NET "PortF<4>" LOC = "P116" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortF<5>" LOC = "P113" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "PortF<6>" LOC = "P109" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "PortF<7>" LOC = "P107" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;

# ADC DAC

NET "ADC_DAC" LOC = "P48" |IOSTANDARD = LVCMOS33 |SLEW = FAST | DRIVE = 8;

# ADC Comparitors

NET "ADC_1A" LOC = "P54" |IOSTANDARD = LVCMOS33 ;
NET "ADC_2A" LOC = "P51" |IOSTANDARD = LVCMOS33 ;
NET "ADC_3A" LOC = "P58" |IOSTANDARD = LVCMOS33 ;
NET "ADC_4A" LOC = "P57" |IOSTANDARD = LVCMOS33 ;
NET "ADC_5A" LOC = "P72" |IOSTANDARD = LVCMOS33 ;
NET "ADC_6A" LOC = "P71" |IOSTANDARD = LVCMOS33 ;
NET "ADC_7A" LOC = "P91" |IOSTANDARD = LVCMOS33 ;
NET "ADC_8A" LOC = "P80" |IOSTANDARD = LVCMOS33 ;
NET "ADC_1B" LOC = "P110" | IOSTANDARD = LVCMOS33 ;
NET "ADC_2B" LOC = "P101" | IOSTANDARD = LVCMOS33 ;
NET "ADC_3B" LOC = "P124" | IOSTANDARD = LVCMOS33 ;
NET "ADC_4B" LOC = "P118" | IOSTANDARD = LVCMOS33 ;
NET "ADC_5B" LOC = "P136" | IOSTANDARD = LVCMOS33 ;
NET "ADC_6B" LOC = "P130" | IOSTANDARD = LVCMOS33 ;
NET "ADC_7B" LOC = "P148" | IOSTANDARD = LVCMOS33 ;
NET "ADC_8B" LOC = "P142" | IOSTANDARD = LVCMOS33 ;

# Synchronous RAM
# SRAM Data Bus

NET "SRAM_DB<0>" LOC = "P12" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<1>" LOC = "P11" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<2>" LOC = "P9" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<3>" LOC = "P8" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<4>" LOC = "P5" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<5>" LOC = "P4" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<6>" LOC = "P3" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<7>" LOC = "P2" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<8>" LOC = "P42" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<9>" LOC = "P45" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<10>" LOC = "P47" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<11>" LOC = "P62" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<12>" LOC = "P63" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<13>" LOC = "P64" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<14>" LOC = "P68" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;
NET "SRAM_DB<15>" LOC = "P69" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | PULLDOWN;

# SRAM Address Bus

NET "SRAM_AB<0>" LOC = "P98" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<1>" LOC = "P160" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<2>" LOC = "P161" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<3>" LOC = "P162" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<4>" LOC = "P163" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<5>" LOC = "P164" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<6>" LOC = "P15" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<7>" LOC = "P16" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<8>" LOC = "P36" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<9>" LOC = "P39" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<10>" LOC = "P165" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<11>" LOC = "P96" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<12>" LOC = "P94" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<13>" LOC = "P97" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<14>" LOC = "P77" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<15>" LOC = "P78" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<16>" LOC = "P76" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
NET "SRAM_AB<17>" LOC = "P40" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;

# SRAM Control Signals

NET "SRAM_GW" LOC = "P29" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "SRAM_CS0" LOC = "P19" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "SRAM_CLK_FB" LOC = "P24" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 | FLOAT; #Should remain at High-Z unless used otherwise
NET "SRAM_CE" LOC = "P18" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "SRAM_OE" LOC = "P31" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "SRAM_CLK" LOC = "P28" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 12 ;
#NET "SRAM_CLK_FB" LOC = "P184" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;
#NET "SRAM_CLK2" LOC = "P25" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;
NET "SRAM_ADSP" LOC = "P34" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "SRAM_ADSC" LOC = "P33" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "SRAM_ADV" LOC = "P35" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8;
#NET "SRAM_BWA" LOC = "P23" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;
##NET "SRAM_BWB" LOC = "P24" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;
##NET "SRAM_BWC" LOC = "P33" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;
##NET "SRAM_BWD" LOC = "P33" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;
NET "SRAM_BWE" LOC = "P30" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;