NET "CLK" LOC = "P183" | IOSTANDARD = LVCMOS33;

# Port C (Data)

NET "data_out<0>" LOC = "P152" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port C0
NET "data_out<1>" LOC = "P150" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<2>" LOC = "P146" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<3>" LOC = "P144" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<4>" LOC = "P139" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<5>" LOC = "P137" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<6>" LOC = "P134" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<7>" LOC = "P132" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port C7

# Port A (Addr L)

NET "data_out<8>"  LOC = "P193" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port A0
NET "data_out<9>"  LOC = "P192" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<10>" LOC = "P190" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<11>" LOC = "P189" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<12>" LOC = "P187" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<13>" LOC = "P186" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<14>" LOC = "P185" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<15>" LOC = "P181" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port A7

# Port B (Addr H)

NET "data_out<16>" LOC = "P180" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port B0
NET "data_out<17>" LOC = "P179" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<18>" LOC = "P178" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<19>" LOC = "P177" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<20>" LOC = "P172" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<21>" LOC = "P171" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<22>" LOC = "P168" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;
NET "data_out<23>" LOC = "P167" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port B7

# Port E
NET "we"           LOC = "P140" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; # Port E4
